html,body {
    margin: 0;
    padding: 0;
    background-color: lightgreen;
}
#Nav {
    background-color: pink;
    height: 50px;
    border: solid 5px pink;
}
#leftside {
    float: left;
    margin-top: 12px;
    margin-left: 20px;
}
#rightside {
    float:right;
    margin-top: 12px;
    word-spacing: 15px;
    margin-right: 20px;
}
ul#flex-container {
    list-style-type: none; 
    margin: 0; padding: 0;
    display: flex;
    flex-wrap: wrap;
  
  align-content: space-between;
}
ul li {
    height: 400px;
    padding-top: 45px;
    Color: black;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    width: 300px;
    margin: 25px;
    position: relative;
}
ul li:first-child {background:pink;}
ul li:nth-child(2) {background: pink}
ul li:nth-child(3) {background: pink}
ul li:last-child {background: pink}

h1 {
    text-align: left;
    margin-left: 20px;
}
input {
    width: 100%;
    background-color: lightgreen;
    position: absolute;
    bottom: 20px;
    left: 0;
}